body {
    /* background-color: lightblue; */
    background-image: url('../images/bw-wall.jpg');
  }

.title {
    color: rgb(95, 12, 12);
}

.container {
    list-style-position:inside;
    /* border: 1px solid black; */
    color: white;
    /* background-color:rgb(255, 153, 153); */
    background-image: url('../images/wood.jpg');
    background-repeat: no-repeat;
    background-size: 2000px 300px;
    padding-bottom: 2rem;
}



.label-item {
    display: inline-block;
    width: 45%;
    text-align: right;
    color: rgb(95, 12, 12);
}

.input-item {
    display: inline-block;
    text-align: left;
    width: 45%;
    color: rgb(95, 12, 12);
}

.comment-input {
    width: 50%;
    position: relative;
    left: 25%;
    margin-bottom: .5rem;
}

.comment-submit {
    width: 50%;
    position: relative;
    margin-bottom: .5rem;
}

.comment-create {
    margin-bottom: 1rem;
}

/* .stars {
    unicode-bidi: bidi-override;
    color:white;
    position: relative; right:470px; bottom:40px;
  }
  .stars > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .stars > span:hover:before,
  .stars > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  } */

  .star{
    color: goldenrod;
    font-size: 2.0rem;
    padding: 0 1rem; /* space out the stars */
  }
  .star::before{
    content: '\2606';    /* star outline */
    cursor: pointer;
  }
  .star.rated::before{
    /* the style for a selected star */
    content: '\2605';  /* filled star */
  }
  
  .stars{
      counter-reset: rateme 0;   
      font-size: 2.0rem;
      font-weight: 900;
  }
  .star.rated{
      counter-increment: rateme 1;
  }
  .stars::after{
      content: counter(rateme) '/5';
  }
