.container {
    list-style-position:inside;
    border: 1px solid black;
}

.comment-input {
    width: 50%;
    position: center;
    left: 13%;
    margin-bottom: .5rem;
}

.comment-submit {
    width: 50%;
    position: center;
    margin-bottom: .5rem;
}
