body {
    /* background-color: lightblue; */
    background-image: url('../images/bw-wall.jpg');
  }


.container {
    list-style-position:inside;
    /* border: 1px solid black; */
    color: white;
    /* background-color:rgb(255, 153, 153); */
    background-image: url('../images/wood.jpg');
    background-repeat: no-repeat;
    background-size: 2000px 300px;
    padding-bottom: 2rem;
}



.label-item {
    display: inline-block;
    width: 45%;
    text-align: right;
}

.input-item {
    display: inline-block;
     text-align: left;
     width: 45%;
}

.comment-input {
    width: 50%;
    position: relative;
    left: 25%;
    margin-bottom: .5rem;
}

.comment-submit {
    width: 50%;
    position: relative;
    margin-bottom: .5rem;
}

.comment-create {
    margin-bottom: 1rem;
}

